@import "tailwindcss";


h1{
    font-size: 30px;
    font-weight: 500;
}

h2{
    font-size: 25px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 500;
}

h4{
    font-size: 18px;
    font-weight: 500;
}

input{
    border: 1px solid rgb(216, 216, 216);
    margin: 0 10px 0 10px;
    height: 20px;
    border-radius: 4px;
}


button{
    background-color: rgb(22, 141, 6);
    color:aliceblue;
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
    cursor: pointer;
}


.buttonAñadirConjunto{
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 13px;
    text-decoration: underline;
}

select{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;

}

button:disabled{
    background-color: grey;
    cursor:default;
}